:host {
  display: flex;
  justify-content: center;
  .container {
    display: flex;
    position: relative;
    width: 60%;
    height: 500px;
    flex-wrap: wrap;

    .item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        width: 200px;
        height: 200px;
        object-fit: contain;
      }
    }
  }
}
